.large-image img {
    max-width: 15%; /* Augmente l’image de 50% */
    height: auto;
  }

.wide-text .page__content {
    max-width: 100%;
    width: 90%;
  }

.small-image {
    width: 25px;
    height: auto;
  }