// Ajuster la largeur maximale de la zone de contenu principale
.page__content {
    max-width: 100%; // Définit la largeur à 100% de la fenêtre
  }
  
// Ajuster la position de la table des matières
.page__sidebar {
    float: left; // Place la ToC à droite
    width: 20%; // Définit la largeur de la ToC
  }
  
// Ajuster la largeur de la zone de contenu lorsque la ToC est active
.page__content--has-toc {
    width: 80%; // Définit la largeur du contenu principal
  }